header {
  width: 100%;
  border-bottom: 1px solid rgb(196, 196, 196);
  height: 10.2%;
  /* border: 1px solid red; */
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 999;
}

a {
  text-decoration: none;
  color: black;
}

#nav-container {
  width: 98%;
  /* border: 1px solid red; */
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#left-nav {
  width: 45%;
  display: flex;
  /* border: 1px solid blue; */
  /* align-items: center; */
}

#logo {
  width: 33%;
  height: 100%;
  /* background-color: yellow; */
}

#logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#search {
  width: 64%;
  /* border: 1px solid orange; */
  position: relative;
  height: 100%;
}

#search > input {
  width: 100%;
  height: 60%;
  padding-left: 10%;
  margin-top: 4%;
  font-size: 1.02em;
  border: none;
  border-radius: 5px;
  border: 0.5px solid rgb(83, 83, 83);
}
#search > input:focus {
  outline: 0.5px solid rgb(201, 198, 198);
}

#search > i {
  color: rgb(179, 176, 176);
  position: absolute;
  top: 55%;
  left: 2.5%;
}

#right-nav {
  width: 50%;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  /* margin-top: 1%; */
  letter-spacing: 1px;
}

#mobile {
  width: 30%;
  /* border: 1px solid red; */
  height: 100%;
  border-right: 0.5px solid rgb(235, 234, 234);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1% 0 0 2%;
}
#supplier {
  width: 25%;
  /* border: 1px solid red; */
  height: 100%;
  border-right: 0.5px solid rgb(223, 221, 221);
  font-size: 1.05em;
  padding: 4.5% 0 0 0;
}
#profile-container {
  width: 40%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 2.5%;
}

#cart {
  margin-left: 10%;
}

.addproduct {
  width: 100%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
}
.addproduct p {
  font-size: 0.9em;
}

/* profile-dropDown */

#profile-dropDown {
  width: 15%;
  height: 170px;
  border: 1px solid rgb(212, 211, 211);
  border-radius: 10px;
  background-color: white;
  position: fixed;
  right: 5%;
  top: 10%;
  z-index: 9999;
}

#current_user {
  color: #9f2089;
  font-weight: bolder;
  /* border: 1px solid red; */
}

#user {
  width: 98%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(209, 205, 205);
  background-color: white;
  padding-left: 2%;
  cursor: pointer;
}

#user-details {
  font-size: 0.9em;
  height: 30%;
  padding: 6% 0;
}

#user-details > p {
  padding: 2% 0;
  color: grey;
  font-weight: 500;
}

#user-details > button {
  width: 90%;
  background-color: purple;
  border: none;
  border-radius: 5px;
  height: 35px;
  color: white;
  font-weight: bolder;
  text-align: center;
  margin-top: 3%;
  font-size: 1.2em;
}

#orders {
  width: 100%;
  padding: 10% 12%;
  /* margin: auto; */
  display: flex;
  align-items: center;
  height: 30%;
}

#orders > h4 {
  padding-left: 10%;
}

#user-login-details {
  display: flex;
  padding-top: 3%;
  /* border: 1px solid orange; */
  width: 100%;
}

.userIcon {
  font-size: 3em;
  /* border: 2px solid blue; */
}

.username {
  /* border: 1px solid red; */
  width: 80%;
  padding-left: 3%;
}
.username > p {
  font-size: 0.8em;
  padding-top: 3%;
}

.logoutBtn {
  width: 95%;
  padding-left: 2%;
}
.logoutBtn > button {
  width: 100%;
  height: 35px;
  background-color: #9f2089;
  border: none;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
}

#logs {
  display: flex;
  width: 90%;
  margin: auto;
  /* padding: 5%; */
  /* justify-content: space-around; */
  align-items: center;
  height: 30%;
}

#logs > i {
  /* padding-left: 3%; */
}
#logs > button {
  padding-left: 10%;
  width: 100%;
  height: 35px;
  background-color: #9f2089;
  border: none;
  border-radius: 5px;
  color: white;
}

/* second navbar */
nav {
  width: 100%;
  border-bottom: 1px solid rgb(172, 171, 171);
  height: 8%;
  position: fixed;
  top: 10.2%;
  background-color: rgb(255, 255, 255);
  z-index: 999;
}

#sec-nav-container {
  width: 90%;
  height: 100%;
  margin: auto;
  /* border: 1px solid orange; */
  display: flex;
  justify-content: space-around;
  padding-top: 1.2%;
}

#sec-nav-container > p {
  font-size: 1.05em;
  letter-spacing: 0.5px;
}
#sec-nav-container > p > a:hover {
  color: red;
}

/* add Prod modal */

.addProdParentContainer {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.addProdModal {
  width: 50%;
  height: 70%;
  background-image: linear-gradient(#9f2089, pink);
  position: fixed;
  left: 25%;
  top: 20%;
  z-index: 9999;
  border-radius: 15px;
}
.addProdModal > p {
  position: absolute;
  color: white;
  right: 5%;
  top: 3%;
  font-weight: bolder;
  font-size: 1.2em;
  cursor: pointer;
}

.addProdheading {
  text-align: center;
  color: white;
  margin-top: 2%;
  font-size: 1.3em;
}

.addProdForm {
  /* border: 1px solid white; */
  width: 85%;
  margin: 2% auto 0 auto;
}
.addProdForm > div {
  width: 100%;
  margin: 7% 0;
}
.addProdForm > div > input {
  width: 100%;
  height: 35px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 3px solid white;
  color: white;
}
.addProdForm > div > input::placeholder {
  font-size: 1.2em;
  color: white;
  font-weight: bolder;
  letter-spacing: 0.3em;
}
.addProdForm > div > select {
  width: 100%;
  height: 35px;
  background-color: transparent;
  outline: none;
  border: none;
  border: 3px solid black;
  font-weight: bolder;
  letter-spacing: 0.2em;
  font-size: 1.2em;
}
.addProdForm > div > select > option {
  background-color: pink;
}
.addProdForm > div > input[type="submit"] {
  font-size: 1.2em;
  font-weight: bolder;
  color: black;
  border: 3px solid black;
}
