.profileContainer {
  width: 100%;
  /* border: 2px solid red; */
  /* margin-top: 8%; */
  height: 100vh;
  padding-top: 10%;
  background-image: linear-gradient(aliceblue, greenyellow);
}

.profilesection {
  width: 95%;
  margin: 0 auto;
  /* border: 5px solid grey; */
  height: 95%;
  display: flex;
  justify-content: space-around;
}
.leftProfile {
  width: 20%;
  height: 100%;
  border: 2px solid grey;
  box-shadow: 2px 5px 10px grey;
  background-image: linear-gradient(aliceblue, greenyellow);
}
.leftProfile > div {
  width: 90%;
  margin: 0 auto;
}

.accountName {
  border-bottom: 10px solid green;
  padding: 3% 0;
  line-height: 25px;
}
.accountName > p {
  font-size: 1.2em;
  font-weight: bolder;
  color: #f43397;
}

.order {
  padding: 10% 0;
  border-bottom: 5px solid grey;
}

.coupons {
  padding: 10% 0;
  border-bottom: 5px solid grey;
}

.termsPolicy {
  padding: 10% 0;
  border-bottom: 5px solid grey;
}

.editProf {
  width: 100%;
  height: 45px;
  margin-top: 15%;
}
.editProf > button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #f43397;
  color: white;
  font-weight: bolder;
  font-size: 1.2em;
  border: none;
  border-radius: 25px;
}
.editProf > button:hover {
  box-shadow: 3px 2px 15px green;
}

.rightProfile {
  width: 75%;
  height: 100%;
  border: 2px solid grey;
  padding-left: 5%;
  background-image: linear-gradient(aliceblue, greenyellow);
  /* color: white; */
  font-size: 1.2em;

  box-shadow: 2px 5px 10px grey;
}
.profDetailsHeader {
  width: 50%;
  height: 20%;
  padding-top: 4%;
  text-decoration: underline;
  /* border-bottom: 2px solid grey; */
}

.profAllDetails {
  width: 55%;
  /* border: 2px solid grey; */
  height: 80%;
  line-height: 45px;
  font-weight: bolder;
}
.profAllDetails > div {
  display: flex;
}
.profAllDetails > div > p {
  width: 30%;
}
.profAllDetails > div:nth-child(1) > p:nth-child(2) {
  color: #f43397;
  font-weight: bolder;
}

/* profModal */
.profModalParent {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  border-radius: 5px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}

.profModal {
  width: 30%;
  height: 50%;
  background-image: linear-gradient(aliceblue, greenyellow);
  box-shadow: 2px 5px 10px black;
  border-radius: 5px;
  position: fixed;
  left: 25%;
  top: 22%;
  z-index: 9999;
}

.profModal > div {
  width: 90%;
  margin: 8% auto 2% auto;
}
.profModal > div > input {
  width: 100%;
  height: 45px;
  background-color: transparent;
  border: none;
  border: 2px solid grey;
  padding-left: 2%;
  font-weight: bolder;
  font-size: 1.2em;
}
.profModal > div > input[type="submit"]:hover {
  cursor: pointer;
  font-weight: bolder;
  background-color: #f43397;
  color: white;
}

.closeProfModal {
  font-weight: bolder;
  position: absolute;
  right: 5%;
  top: 3%;
  font-size: 1.1em;
  cursor: pointer;
}
.closeProfModal:hover {
  color: red;
}
.role {
  color: #f43397;
  font-weight: bolder;
}
